<div class="row">
	<h2>Editar Agente</h2>
</div>
<div class="row">
<form class="form-horizontal" ng-submit="atualizar(item)">
	<div class="form-group">
		<input type="text"   ng-model="item.nome" class="form-control" placeholder="Nome">
		<input type="hidden" ng-model="item.idAgente">
		<input type="text"   ng-model="item.tempoServico" class="form-control" placeholder="Tempo de servico">
		<input type="text"   ng-model="item.dtContratacao" class="form-control" placeholder="Data contratacao">
	</div>
	<div class="form-group">
		<button class="btn btn-success">Atualizar</button>
		<a href="#/" class="btn btn-warning">Cancelar</a>
	</div>							
</form>
</div>