<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Angular App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#/listarDenuncias" >Listar Denuncias</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container theme-showcase" role="main">
   	<div class="col-md-6">
   	    <div class="col-md-6">
		<label for="nome-manual" class="obrigatorio">Nome Denunciante</label> 
		<input type="text" ng-model="denuncianteConsulta.nome">
	</div>

    <div class="col-md-6">
		<label for="nome-manual">Email Denunciante</label> 
		<input tipe="email" ng-model="denuncianteConsulta.email"> 
	</div>
	 <div class="col-md-6">
		<label for="nome-manual">Telefone</label> 
		<input tipe="email" ng-model="denuncianteConsulta.telefone"> 
	</div>
    <div class="col-md-6">
    	<button ng-click="consultar()">Consultar</button>
    </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Email Denunciante</th>
                <th>Nome Denunciante</th>
                <th>Telefone Denunciante</th>
                <th>Excluir</th>
                <th>Editar</th>
            </tr>
            </thead>
            <tbody>
            	<tr ng-repeat="denunciante in denunciantes">
    				<td>{{denunciante.email}}</td>     
    				<td>{{denunciante.nome}}</td>
            		<td>{{denunciante.telefone}}</td>
            		<td><button ng-click="excluir(denunciante.id)">Excluir</button></td>
            		<td><button ng-click="editar($index)">Editar</button></td>
            		<td>{{$index}}</td>
            	</tr>
            </tbody>
        </table>
    </div>
    
    
            		
            		
            		
    
    
    <div class="col-md-6">
		<label for="nome-manual" class="obrigatorio">Nome Denunciante</label> 
		<input type="text" ng-model="denunciante.nome">
	</div>

    <div class="col-md-6">
		<label for="nome-manual">Email Denunciante</label> 
		<input tipe="email" ng-model="denunciante.email"> 
	</div>
	 <div class="col-md-6">
		<label for="nome-manual">Telefone</label> 
		<input tipe="email" ng-model="denunciante.telefone"> 
	</div>
    <div class="col-md-6">
    	<button ng-click="salvar()">Salvar</button>
    </div>
</div>